@import "./components/setting.scss";
@import "./components/nav.scss";
@import "./components/carousel.scss";

@import "./components/product.scss";
@import "./components/application.scss";
@import "./components/specification.scss";
@import "./components/about.scss";

html, body {
  font-family: 'Microsoft JhengHei', '微軟正黑體', "SF", "Segoe UI", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.container-lg {
  max-width: 1700px;
}