
.about-container{
  min-height: 100vh;
  position: relative;
  padding: 8rem 0px;
  background-image: url("~/assets/images/about_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}