.carousel-container {
  padding-left: 0px;
  padding-right: 0px;
}



.carousel-indicators li .active{
  background-color: $colorBlue;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: $sizeMD) { 
  
}