.navbar{
  padding: 0;
}



.nav-custom {
  width: 100%;
}
.navbar-light .navbar-nav .nav-link{
  padding-right: 1rem;
  color: white;
  text-shadow: 0 2px 5px black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $colorBlue;
}

.nav-logo {
  height: 2.8rem;
}

.navbar-brand {
  background-color: white;
  border-radius: 0px 25px 25px 0px;
  margin-top: 1rem;
  padding: 0.1rem 1rem 0.1rem 0.5rem;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.5);
}

.navbar-nav {
  .active {
    color: $colorBlue;
  }
}

.nav-item {
  margin: 0 1rem;
  text-align: right;
}

.bg-light {
  background-color: transparent !important;
}

.navbar-light .navbar-toggler {
  border: 0;
  position: fixed;
  top: 1.3rem;
  right: 1.5rem;
}

@media screen and (min-width: $sizeMD) { 

  .nav-logo {
    height: 4.2rem;
  }

  .navbar-brand {
    background-color: transparent;
    border-radius: 0px;
    margin-top: 0;
    padding: 0;
    box-shadow: none;
    margin-right: 0rem;
  }

  .navbar-light .navbar-nav .nav-link{
    padding-right: 0;
    color: $colorText;
    text-shadow: none;
  }

  .navbar-nav {
    margin-top: 0.7rem;
  }

  .nav-item {
    text-align: center;
  }

  .nav-custom {
    display: flex;
    width: auto;
    padding: 0rem 1rem 0rem 1rem;
  }

  .nav-custom-fixed-top {
    a {
      color: $colorText;
    }
    a:hover {
      color: $colorBlue;
    }
    background-color: rgb(207,234,238);
    border-radius: 0px 0px 2rem 2rem;
  }
}