<section id="about">
  <div class="about-container container-lg">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-2 col-lg-8 offset-lg-3">
        <div class="container about-info">
            <div class="row">
              <div class="col"><h2 class="about-title">關於我們</h2></div>
            </div>
            <div class="row about-info-item">
              <div class="col-4 col-lg-3 about-info-title">公司名稱</div>
              <div class="col">科歐思股份有限公司</div>
            </div>
            <div class="row about-info-item">
              <div class="col-4 col-lg-3 about-info-title">地址</div>
              <div class="col">台北市信義區忠孝東路五段1-3號10樓</div>
            </div>
            <div class="row about-info-item">
              <div class="col-4 col-lg-3 about-info-title">電話</div>
              <div class="col">(+886)0920-329880</div>
            </div>
            <div class="row about-info-item">
              <div class="col-4 col-lg-3 about-info-title">傳真</div>
              <div class="col">科歐思股份有限公司</div>
            </div>
            <div class="row about-info-item">
              <div class="col-4 col-lg-3 about-info-title">Email</div>
              <div class="col">zap0604@hotmail.com</div>
            </div>
            <div class="row about-info-item">
              <div class="col-4 col-lg-3 about-info-title">聯絡人</div>
              <div class="col">趙光裕</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>