<section id="application">
    <div class="application-container container-lg">
      <div class="row">
        <div class="col-sm-6 application_img" style="background-image: url('~/assets/images/application_01.jpg');">
          <div class="application-title-mobile">
            <img src="~/assets/images/MuIce_CI_UVC_color.png" alt="">
          </div>
        </div>
        <div class="col-sm-6 application_img" style="background-image: url('~/assets/images/application_02.jpg');"></div>
      </div>
      <div class="row">
        <div class="col-sm-6 application_img" style="background-image: url('~/assets/images/application_03.jpg');">
          <div class="application-title-mobile">
              <img src="~/assets/images/MuIce_CI_UVC_color.png" alt="">
          </div>
        </div>
        <div class="col-sm-6 application_img" style="background-image: url('~/assets/images/application_04.jpg');"></div>
      </div>
    </div>
    <div class="application-title">
      <img src="~/assets/images/MuIce_CI_UVC_color.png" alt="">
    </div>
  </section>