<section id="application">
    <div class="application-container container-lg">
      <div class="row">
        <div id="application_img_1" class="col-sm-6 application_img">
          <div class="application-title-mobile">
            <img src="~/assets/images/MuIce_CI_UVC_color.png" alt="">
          </div>
        </div>
        <div id="application_img_2" class="col-sm-6 application_img"></div>
      </div>
      <div class="row">
        <div id="application_img_3" class="col-sm-6 application_img">
          <div class="application-title-mobile">
              <img src="~/assets/images/MuIce_CI_UVC_color.png" alt="">
          </div>
        </div>
        <div id="application_img_4" class="col-sm-6 application_img"></div>
      </div>
    </div>
    <div class="application-title">
      <img src="~/assets/images/MuIce_CI_UVC_color.png" alt="">
    </div>
  </section>