<nav class="navbar navbar-expand-sm nav-light justify-content-center fixed-top">
    <div class="nav-custom nav-custom-fixed-top">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">產品</br>Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">應用</br>Application</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">規格</br>Speccifiaction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">關於我們</br>About Us</a>
        </li>
      </ul>
    </div>

  </nav>