<section id="product">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <img src="~/assets/images/MuIce_CI_UVC_color.png" class="product-title" alt="">
        <div class="product-item">
          <div class="product-title">
            <div class="product-item-txt product-item-txt-title">無專用</div>
            <div class="product-item-txt">填裝容器</div>
          </div>
          <div class="product-icon">
            <i class="fas fa-3x fa-carrot"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <img src="~/assets/images/MuIce_CI_UVC_color.png"" class="product-title" alt="">
      </div>
    </div>
  </div>
</section>