<section id="product">
  <div class="product-container container-lg">
    <div class="row">
      <div class="col-6 product-left text-center">
        <img src="~/assets/images/normal_LN.png" class="product-title" alt="">
        <!-- product-item -->
        <div class="product-item">
          <div class="product-item-icon show-under-SM" style="background-image: url('~/assets/images/muice_icon_normal-3.png');"></div>
            <div class="product-item-title-l">
                <div class="product-item-title-red">無專用</div>
                <div>填裝容器</div>
            </div>
          <div class="product-item-icon hide-MD" style="background-image: url('~/assets/images/muice_icon_normal-1.png');">
          </div>
        </div>
        <!-- product-item -->
        <div class="product-item">
          <div class="product-item-icon show-under-SM" style="background-image: url('~/assets/images/muice_icon_normal-3.png');"></div>
          <div class="product-item-title-l">
              <div>長期儲存會</div>
              <div class="product-item-title-red">累積污染</div>
          </div>
          <div class="product-item-icon hide-MD" style="background-image: url('~/assets/images/muice_icon_normal-2.png');"></div>
        </div>
        <!-- product-item -->
        <div class="product-item">
          <div class="product-item-icon show-under-SM" style="background-image: url('~/assets/images/muice_icon_normal-3.png');"></div>
          <div class="product-item-title-l">
              <div>不同樣本會產生</div>
              <div class="product-item-title-red">交叉污染</div>
          </div>
          <div class="product-item-icon hide-MD" style="background-image: url('~/assets/images/muice_icon_normal-3.png');"></div>
        </div>
      </div>
      <div class="col-6 product-right text-center">
        <img src="~/assets/images/MuIce_CI_UVC_color.png"" class="product-title" alt="">
        <!-- product-item -->
        <div class="product-item product-item-r">
          <div class="product-item-icon" style="background-image: url('~/assets/images/muice_icon_uvc-1.png');"></div>
          <div class="product-item-title-r">
              <div>針對產品</div>
              <div class="product-item-title-blue">專用容器</div>
          </div>
        </div>
        <!-- product-item -->
        <div class="product-item product-item-r">
          <div class="product-item-icon" style="background-image: url('~/assets/images/muice_icon_uvc-2.png');"></div>
          <div class="product-item-title-r">
              <div>經高劑量UVC</div>
              <div><span class="product-item-title-blue">滅菌</span><span style="margin-bottom: 0.2rem;">達 </span><span class="product-item-title-blue">99.99%</span></div>
          </div>
        </div>
        <!-- product-item -->
        <div class="product-item product-item-r">
            <div class="product-item-icon" style="background-image: url('~/assets/images/muice_icon_uvc-3.png');"></div>
            <div class="product-item-title-r">
                <div><span class="product-item-title-blue">SGS檢驗</span><span style="margin-bottom: 0.2rem;">報告證明</span></div>
                <div><span style="margin-bottom: 0.2rem;">符合</span><span class="product-item-title-blue">醫療等級</span></div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="product-footer">根據文獻指出，即使在-196°C的液態氮，仍有細菌、黴菌與病毒潛在之可能！</div>
</section>