<section id="specification">
  <div class="specification-title">
    <img src="~/assets/images/MuIce_CI_UVC_color.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 specification-logo">
        <img src="~/assets/images/product_bg.png" alt="">
      </div>
      <div class="col-sm-7 specification-content">
          <div class="container">
            <div class="row specification-content-title">
              <div class="col-sm-6 specification-content-txt-l">型號</div><div class="col-sm-6">CryoN2-4000</div>
            </div>
            <div class="row specification-content-item">
              <div class="col-sm-6 specification-content-txt-l">品名</div><div class="col-sm-6">UVC 滅菌液態氮</div>
            </div>
            <div class="row specification-content-item">
              <div class="col-sm-6 specification-content-txt-l">內容物</div><div class="col-sm-6">液氮(Nitrogen,Liquid)</div>
            </div>
            <div class="row specification-content-item">
              <div class="col-sm-6 specification-content-txt-l">容量</div><div class="col-sm-6">4L </div>
            </div>
            <div class="row specification-content-item">
              <div class="col-sm-6 specification-content-txt-l">直徑Ø</div><div class="col-sm-6">15.2cm</div>
            </div>
            <div class="row specification-content-item">
              <div class="col-sm-6 specification-content-txt-l">高度H</div><div class="col-sm-6">27cm</div>
            </div>
            <div class="row specification-content-item">
              <div class="col-sm-6 specification-content-txt-l">波長</div><div class="col-sm-6">265~275nm</div>
            </div> 
            <div class="row specification-content-item">
              <div class="col-sm-6 specification-content-txt-l">UV dose(K)</div><div class="col-sm-6">66000 μWs/cm2</div>
            </div>  
            <div class="row specification-content-item">
              <div class="col-sm-6 specification-content-txt-l">UV intensity(I)</div><div class="col-sm-6">733 μW/cm2</div>
            </div>  
            <div class="row specification-content-item">
              <div class="col-sm-6 specification-content-txt-l">產地</div><div class="col-sm-6">臺灣</div>
            </div>
            <div class="row specification-content-link">
              <div class="col-sm-12"><a href="#">另開新頁技術文件.pdf</a></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>