<section id="specification">
  <div class="specification-container container-lg">
    <div class="row">
      <div class="col-sm-12">
        <div class="specification-title">
          <img src="~/assets/images/MuIce_CI_UVC_color.png" alt="">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-4 col-md-5 col-lg-4 specification-logo hide-MD-flex">
        <img src="~/assets/images/muice_product.png" alt="">
      </div>
      <div class="col-sm-4 col-md-5 col-lg-4 specification-content">
          <div class="container">
            <div class="row specification-content-title">
              <div class="col-5 specification-content-txt-l">型號</div>
              <div class="col-7 specification-content-txt-r">CryoN2-4000</div>
            </div>
            <div class="row specification-content-item">
              <div class="col-5 specification-content-txt-l">品名</div>
              <div class="col-7 specification-content-txt-r">UVC 滅菌液態氮</div>
            </div>
            <div class="row specification-content-item">
              <div class="col-5 specification-content-txt-l">內容物</div>
              <div class="col-7 specification-content-txt-r">液氮(Nitrogen,Liquid)</div>
            </div>
            <div class="row specification-content-item">
              <div class="col-5 specification-content-txt-l">容量</div>
              <div class="col-7 specification-content-txt-r">4L </div>
            </div>
            <div class="row specification-content-item">
              <div class="col-5 specification-content-txt-l">直徑Ø</div>
              <div class="col-7 specification-content-txt-r">15.2cm</div>
            </div>
            <div class="row specification-content-item">
              <div class="col-5 specification-content-txt-l">高度H</div>
              <div class="col-7 specification-content-txt-r">27cm</div>
            </div>
            <div class="row specification-content-item">
              <div class="col-5 specification-content-txt-l">波長</div>
              <div class="col-7 specification-content-txt-r">265~275nm</div>
            </div> 
            <div class="row specification-content-item">
              <div class="col-5 specification-content-txt-l">UV dose(K)</div>
              <div class="col-7 specification-content-txt-r">66000 μWs/cm2</div>
            </div>  
            <div class="row specification-content-item">
              <div class="col-5 specification-content-txt-l">UV intensity(I)</div>
              <div class="col-7 specification-content-txt-r">733 μW/cm2</div>
            </div>  
            <div class="row specification-content-item">
              <div class="col-5 specification-content-txt-l">產地</div>
              <div class="col-7 specification-content-txt-r">臺灣</div>
            </div>
            <div class="row specification-content-link">
              <div class="col"><a href="#">另開新頁技術文件.pdf</a></div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col specification-logo-mobile show-under-XS">
        <img src="~/assets/images/muice_product.png" alt="">
      </div>
    </div>
  </div>
</section>